{% extends "baseDashboard.html" %}

{% block title %}Dashboard @ Laboratory Assistant Suite{% endblock %}

{% block content %}
	<script type="text/javascript" src="/lasauth_media/dashboard/js/dashboard.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style-menu.css" /> -->
	<link rel="stylesheet" type="text/css" href="/lasauth_media/dashboard/css/dashboard.css" />

	{% if not errore %}
        <script type="text/javascript"> 
            // aliqStep1 = "{{cntStep1}}"; 
            // aliqStep2 = "{{cntStep2}}"; 
            // aliqStep3 = "{{cntStep3}}"; 
            // aliqStep4 = "{{cntStep4}}";
            // aliqSplit = "{{cntSplit}}";
            // aliqSlideLab = "{{cntSlideLab}}";
            // aliqSlidePrep = "{{cntSlidePrep}}";
            // aliqRevalue = "{{cntRevalue}}";
            // aliqTransfer = "{{aliqTransfer}}";
            // aliqReceive = "{{aliqReceive}}";
            
            // templates = $.parseJSON('{{mdamTemplates|safe}}');
            // mdam_url = "{{mdam_url}}";
            $(document).ready(function() {
                $(function(){
                    $('#sortItem').sortable({
                        placeholder: "ui-state-highlight", 
                        helper:'clone',
                        update: function (event, ui) {
                            console.log('Update: ', event, ' - ', ui);
                        }
                    });
                });
            });
        </script>

        <div class="px-5  py-3">
            <div class="pb-3  row">
                <div class="col-lg-8">
                    <div style="position: relative;" class="pb-3  row" id="sortItem">
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Derivation </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-primary  btn-dashboard" id="aliqDer"> Load data </button>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Split </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-primary  btn-dashboard" id="aliqSplit"> Load data </button>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Slide Labelling </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqSlideLab"> Load data </button>
                                </div>
                            </div>
                        </div>
                    <!-- </div>

                    <div class="row"> -->
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Slide Preparation </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqSlidePrep"> Load data </button>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot QC/QA </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqQcQa"> Load data </button>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Transfer </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqTransfer"> Load data </button>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Implanted Mice </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="implantedMice"> Load data </button>
                                </div>
                            </div>
                        </div>
                        <div style="position: relative;" class="col-md-4  pb-3  sortable">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Available Mice </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="availableMice"> Load data </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="p-3  panel  panel-default  panel-description">
                        <div class="p-3  panel-heading  text-center" id="tableHeader">
                            Select data to display
                        </div>
                        <hr class="m-0">
                        <div class="p-3  panel-body" id="tableBody"></div>
                    </div>
                </div>
            </div>
        </div>

        <br style="clear:both;"><br><br><br>
	
	{% else %}
		<h1 align="center">Error: something went wrong</h1>
    {% endif %}

{% endblock %}
