{% extends "baseDashboard.html" %}

{% block title %}Dashboard @ Laboratory Assistant Suite{% endblock %}

{% block content %}
	<script type="text/javascript" src="/lasauth_media/dashboard/js/dashboard.js"></script>
	<link rel="stylesheet" type="text/css" href="/lasauth_media/dashboard/css/dashboard.css" />

	{% if not errore %}

        <div class="px-5  py-3">
            <div class="pb-3  row">
                <div class="col-xl-8">
                    <div class="pb-3  row">
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="text-right"><a id="reloadAliqDer">
                                    <i class="fa  fa-refresh  fa-2x  fa-fw" style="color: dodgerblue;" aria-hidden="true"></i>
                                </a></div>
                                <div class="p-3  panel-heading  text-center"> Aliquot Derivation </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="aliqDer"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Split </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="aliqSplit"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Slide Labelling </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="aliqSlideLab"> Loading </button>
                                </div>
                            </div>
                        </div>
                    <!-- </div>

                    <div class="row"> -->
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Slide Preparation </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="aliqSlidePrep"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot QC/QA </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="aliqQcQa"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Transfer </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="aliqTransfer"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Implanted Mice </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="implantedMice"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Available Mice </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="availableMice"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Mice Under Treatment </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="miceUnderTreatment"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Mice Explants </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-dashboard  btn-warning" id="explantMice"> Loading </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  pb-3">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Collections </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="collections"> Load graph </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="p-3  panel  panel-default  panel-description">
                        <div class="font-weight-bold  p-3  panel-heading  text-center" id="tableHeader">
                            Select data to display
                        </div>
                        <hr class="m-0">
                        <div class="p-3  panel-body" id="tableBody"></div>
                    </div>
                </div>
            </div>
        </div>

        <br style="clear:both;"><br><br><br>
	
	{% else %}
		<h1 align="center">Error: something went wrong</h1>
    {% endif %}

{% endblock %}
