{% extends "baseDashboard.html" %}

{% block title %}Dashboard @ Laboratory Assistant Suite{% endblock %}

{% block content %}
	<script type="text/javascript" src="/lasauth_media/dashboard/js/dashboard.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style-menu.css" /> -->
	<link rel="stylesheet" type="text/css" href="/lasauth_media/dashboard/css/dashboard.css" />

	{% if not errore %}
        <script type="text/javascript"> 
            aliqStep1 = "{{cntStep1}}"; 
            aliqStep2 = "{{cntStep2}}"; 
            aliqStep3 = "{{cntStep3}}"; 
            aliqStep4 = "{{cntStep4}}";
            urlStep1 = "/biobank/derived/execute";
            urlStep2 = "/biobank/derived/execute/loadkit";
            urlStep3 = "/biobank/derived/execute/loaddetailspart2";
            urlStep4 = "/biobank/derived/execute/loadlastpart";
            aliqSplit = "{{cntSplit}}";
            urlSplit = "/biobank/split/execute";
            aliqSlideLab = "{{cntSlideLab}}";
            urlSlideLab = "/biobank/label/execute";
            aliqSlidePrep = "{{cntSlidePrep}}";
            urlSlidePrep = "/biobank/slide/choose";
            aliqRevalue = "{{cntRevalue}}";
            urlRevalue = "/biobank/revalue/execute";
            aliqTransfer = "{{aliqTransfer}}";
            aliqReceive = "{{aliqReceive}}";
            urlTransfer = "/biobank/transfer/pending";
            urlReceive = "/biobank/transfer/receive";
            
            // templates = $.parseJSON('{{mdamTemplates|safe}}');
            // mdam_url = "{{mdam_url}}";
        </script>

        <div class="px-5  py-3">
            <div class="pb-3  row">
                <div class="col-8">
                    <div class="pb-3  row">
                        <div class="col-sm-4  pb-3  pb-sm-0">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Derivation Schedule </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-primary  btn-dashboard" id="aliqDer"> {{cntAliqDer}} </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Split Schedule </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn  btn-primary  btn-dashboard" id="aliqSplit"> {{cntSplit}} </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Slide Labelling </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqSlideLab"> {{cntSlideLab}} </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Slide Preparation </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqSlidePrep"> {{cntSlidePrep}} </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot QC/QA </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqQcQa"> {{cntRevalue}} </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="p-3  panel  panel-default">
                                <div class="p-3  panel-heading  text-center"> Aliquot Transfer </div>
                                <div class="px-3  py-2  panel-body  text-center">
                                    <button class="btn btn-primary  btn-dashboard" id="aliqTransfer"> {{cntAliqTransfer}} </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="p-3  panel  panel-default  panel-description">
                        <div class="p-3  panel-heading  text-center" id="tableHeader">
                            Select data to display
                        </div>
                        <hr class="m-0">
                        <div class="p-3  panel-body" id="tableBody"></div>
                    </div>
                </div>
            </div>
        </div>

        <br style="clear:both;"><br><br><br>
	
	{% else %}
		<h1 align="center">Error: something went wrong</h1>
    {% endif %}

{% endblock %}
