{% extends "baseDH.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
	<script type="text/javascript" src="{{MEDIA_URL}}dashboard/js/dashboard.js"></script>

	<!-- <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}style-menu.css" /> -->
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}dashboard/css/dashboard.css" />

	{% if not errore %}

		<script type="text/javascript"> 
			aliqStep1 = "{{cntStep1}}"; 
			aliqStep2 = "{{cntStep2}}"; 
			aliqStep3 = "{{cntStep3}}"; 
			aliqStep4 = "{{cntStep4}}";
			urlStep1 = "{% url tissue.derived.ExecDerivedAliquots %}";
			urlStep2 = "{% url tissue.derived.LoadKitDerivedAliquots %}";
			urlStep3 = "{% url tissue.derived.LoadDetailsDerivedAliquots2 %}";
			urlStep4 = "{% url tissue.derived.LoadLastPartDerivedAliquots %}";
			aliqSplit = "{{cntSplit}}";
			urlSplit = "{% url tissue.split.ExecSplitAliquots %}";
			// templates = $.parseJSON('{{mdamTemplates|safe}}');
			// mdam_url = "{{mdam_url}}";
		</script>
		
		<div class="px-5  py-3">
				<div class="pb-3  row">
					<div class="col-8">
						<div class="pb-3  row">
							<div class="col-sm-4  pb-3  pb-sm-0">
								<div class="p-3  panel  panel-default">
									<div class="p-3  panel-heading  text-center"> Aliquot Derivation Schedule </div>
									<div class="px-3  py-2  panel-body">
										<button class="btn btn-primary" id="aliqDer"> {{cntAliqDer}} </button>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="p-3  panel  panel-default">
									<div class="p-3  panel-heading  text-center"> Aliquot Split Schedule </div>
									<div class="px-3  py-2  panel-body">
										<button class="btn btn-primary" id="aliqSplit"> {{cntSplit}} </button>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="p-3  panel  panel-default">
									<div class="p-3  panel-heading  text-center"> Aliquot Slide Labelling </div>
									<div class="px-3  py-2  panel-body">
										<button class="btn btn-success" id="aliqSlideLab"> 3 </button>
									</div>
								</div>
							</div>
						</div>

						<div class="pb-3  row">
							<div class="col-sm-4">
								<div class="p-3  panel  panel-default">
									<div class="p-3  panel-heading  text-center"> Aliquot Slide Preparation </div>
									<div class="px-3  py-2  panel-body">
										<button class="btn btn-success" id="aliqSlidePrep"> 5 </button>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="p-3  panel  panel-default">
									<div class="p-3  panel-heading  text-center"> Aliquot QC/QA </div>
									<div class="px-3  py-2  panel-body">
										<button class="btn btn-success" id="aliqQcQa"> 6 </button>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="p-3  panel  panel-default">
									<div class="p-3  panel-heading  text-center"> Aliquot Transfer </div>
									<div class="px-3  py-2  panel-body">
										<button class="btn btn-success" id="aliqTransfer"> 1 </button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-4">
						<div class="p-3  panel  panel-default">
							<div class="p-3  panel-heading  text-center" id="tableHeader">
								Select data to display
							</div>
							<hr class="m-0">
							<div class="p-3  panel-body" id="tableBody">
								<!-- Body Tabella link vari -->
							</div>
						</div>
					</div>
				</div>
		</div>

	
		<br style="clear:both;"><br><br><br>

	{% else %}
		<h1 align="center">Error: something went wrong</h1>
	{% endif %}
{% endblock %}
