
.btn-dashboard, .btn-redirect {
    min-width: 100px;
}

.fa.fa-refresh {
    color: #1e90ff;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.fa.fa-refresh:hover {
    color: #61b1ff;
}

.fa.fa-refresh.rotate{
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.panel {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-description {
    height: 100%;
}